* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
html{
  overflow-x: hidden;
}
.messages{
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  padding-top: 10px;
  scrollbar-width: none;
  font-size: 16px;
  text-decoration-color: #333333;
}
.messages .userMsg{
  clear: both;
  background-color: #EFEFEF;
  padding:5px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 40px 40px 10px 40px;
  max-width: 60vw;
  align-self: flex-end;
  min-width: 20px;
}

.messages .responseMsg{
  clear: both;
  padding-top:20px;
  padding-bottom:20px;
  border-radius: 30px;
  max-width: 80vw;
  align-self: flex-start;
  min-width: 20px;
}

.messages p {
  margin: 0.5em 0;
}

.messages strong {
  font-weight: bold;
}

.messages ul {
  padding-left: 1.2em;
  list-style-type: disc;
}

.messages li {
  margin-bottom: 0.3em;
}